<h1>My Tasks:</h1>
<ul>
<% @tasks.each do |task| %>
  <li>[<%= task.completed == true ? "✅" : "❌"%>]<%= link_to "#{task.title.capitalize}", task_path(task) %>
   <%= link_to "delete task",task_path(task),method: :delete, data: { confirm: "Are you sure?" }  %>
  </li>
<% end %>
</ul>

<%= link_to "create new task!",new_task_path %>
